/* .container{
    display: inline-flex;
    border: 2px solid black;
    height: 10vh;
    width: 100px;
    border-radius: 5px ;
    align-items: center;
}
.radio_btn{
     border: 2px solid black; 
}
.radio-container{
     border: 2px solid black; 
    height: 10vh;
    width: 100px;
} */
.second-div{
    display: block;
    height: 100%;
}
.second-div input{
    display:block;
    justify-content: center;
    align-items: center;

}
.second-div label{
    display:inline;
}
.second-div .radio-rad{
    display: inline;
    justify-content: center;
    align-items:center;
    margin-right:10px;
    height:25px;
    width:25px;  
    cursor:pointer;              
}


